{% extends 'base.html' %}
{% block content %}

<div style="margin:25%;margin-top:15%">
    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{message}}
      </div>
      {% endif %}
    <p>Group Code = <strong>{{code}}</strong></p>
    <p>Title = <strong>{{title|title}}</strong></p>
    <p>mail = <strong>{{mail}}</strong></p>
    
    <form action="" method="POST" >
        {% csrf_token %}
        <hr>
        <label for="Name">Enter Member Name</label>
        <input type="text" name="Name" id="name">
        <br />
        <hr>
        <div style='display: flex;justify-content: center;align-items: center;'>
            <input type="submit" class="btn btn-primary" style="margin-right: 20px;">
            <button class="btn btn-primary" style="margin-right: 20px;"><a href="{% url 'customGroup' slug=code %}" style="color:white;">Back to Tab</a></button>
            <button class="btn btn-primary"><a href="{% url 'home' %}" style="color:white">Home</a></button>
        </div>
        
    </form>
</div>

{% endblock %}