<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shera</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }
    </style>
</head>
<body>
    <div class='container'>
        <!-- new row -->
        <div class="row">
            <div class="col-2">
              </div>
            <div class="col-6">
                <h1 style="padding-left:55%">Shera</h1>
            </div>
            <div class="col-2">
            </div>
        </div>
        <!-- endof row -->
        <!-- new row -->
        <div class="row">
            <div class="col">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <!-- endof row -->

    </div>
    
    
</body>
</html>