<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shera</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }
    </style>
</head>
<body>
    <div class='container'>
        <!-- new row -->
        <div class="row">
            <div class="col">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <!-- endof row -->

    </div>
    <script>
        function ToggleLog(){
            if(document.getElementById('log').style.display=='block'){
                document.getElementById('log').style.display='none';
                document.getElementById('showLog').innerHTML='Show Transaction Log';
            }
            else{
                document.getElementById('log').style.display='block'
                document.getElementById('showLog').innerHTML='Hide Transaction Log';
            }
        }
        // function findusingtoggle(){
        //     if(document.getElementById('findusingMail').style.display=='block' && document.getElementById('findusingCode').style.display=='none'){
        //         document.getElementById('findusingMail').style.display=='none';
        //         document.getElementById('findusingCode').style.display=='block';
        //         document.getElementById('findUsingButton').innerHTML='Click To Find Using Mail';
        //     }
        //     if(document.getElementById('findusingMail').style.display=='none' && document.getElementById('findusingCode').style.display=='block'){
        //         document.getElementById('findusingMail').style.display=='block';
        //         document.getElementById('findusingCode').style.display=='none';
        //         document.getElementById('findUsingButton').innerHTML='Click To Find Using Tab Code';
        //     }
        // }
    </script>
    
</body>
</html>